{%  extends 'Zoo/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Profile</title>
</head>
<body>
{% block content %}
    ID = {{ key.id }}
    <br>
    Name = {{ key.firstname }}

    <p></p>
    <div>
        <div class="text-left">
        <a class="btn btn-primary" role="button" href="{% url 'edit_staff' key.id %}" >Edit</a>
        <a class="btn btn-primary" role="button" href="{% url 'staff_delete' key.id%}" >Delete</a>
        </div>
    </div>
{% endblock %}

</body>
</html>